<!DOCTYPE html>
{%extends 'base.html'%}
    {%block body_b%}
    {%load static%}
    <link rel="stylesheet" href="{% static 'mycss/index.css' %}">
    <br><br>
    <br>
    <div class='A'>
        <h1 id='h1' style="color:rgba(253, 253, 253, 0.856);">SCIENCE OF MIND MANAGMENT</h3>
        <br><br>
       <h3>THE MIND CAN BE YOUR BEST FRIEND AND WORST ENEMY</h2><br>

       <h3>Our mind is the single-most important factor that determines the quality of our Life. Successfully controlled, it becomes our best ally, but if allowed to run wild, it steals our inner peace and underlimes all our productive endeavours.</h3>


        

        <div class='jumbotron sloka'>
            <h3 style="color: yellow;">The Vedic Scriptures informs us :</h3><br>
            <h3>uddhared ātmanātmanam nātmānam avasādayet</h3>
            <h3>ātmaiva hyātmano bandhur ātmaiva ripur ātmanah</h3>

        </div>

        <h3 style="color: yellow;">Explanation:</h3>
        <h3>'Elevate yourself through the power of your mind, and not degrade yourself, for the mind can be the greatest assistant of the self, and also its vilest enemy'.</h2>
            <br>
        <hr>

        <h3 id='hh' style="color: rgb(255, 0, 0);">Mantra : PRACTICE + DETTACH + SURRENDER</h3>

        <hr><br>

         <h2 style="color: rgb(237, 253, 15);">SATH-CHINTHAN:</h2>

         <h3>
             Wise,
             Nobel,
             Healthy,
             Fit,
             Bhakthi,
             Sampurna,
             Dettach
        </h3>
        <br>

        <h2 style="color: rgb(237, 253, 15);">SADHANA:</h2>

        <h3>Exercise, Devotion, Meditation, Practice, No_JunkFood, Optimistic</h3>



    </div>    



   {%endblock%}
